<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huatec.datahome.dao.MajorOprationDao">

    <!--专业运营基础-->
    <select id="getBaseInfo" resultType="com.huatec.datahome.domain.TitlePageNum" >

         SELECT
            `name` ,
            `data_undergraduate` AS dataUndergraduate,
            `data_vocational` AS dataVocational,
            `page_title_num` AS pageTitleNum,
            `data_other` AS dataOther
        FROM title_page_num

    </select>

    <!--* 专业就业率-->
    <select id="getMajorRate" resultType="com.huatec.datahome.domain.MajorEmploymentRate">

        SELECT
            tb.major_name      AS majorName,
            tb.employment_rate AS employmentRate
        FROM major_employment_rate tb

    </select>

    <!--* 工程师行业背景人数，-->
    <select id="getBackgroundNum" resultType="com.huatec.datahome.domain.ProjectorBackground">

        SELECT
            tb.major_name AS majorName,
            tb.people_num AS peopleNum
        FROM projector_background tb

    </select>

    <!--* 专业运营基础-->
    <update id="updateBaseInfo" parameterType="java.util.List">

        <foreach collection="baseInfo" item="item" index="index" open="" close="" separator=";">
            UPDATE `title_page_num`
            <set>
                <if test="item.dataUndergraduate !=null " >
                    `data_undergraduate` = #{item.dataUndergraduate}
                </if>
                <if test="item.dataVocational !=null " >
                    `data_vocational` = #{item.dataVocational}
                </if>
                <if test="item.pageTitleNum !=null " >
                    `page_title_num` = #{item.pageTitleNum}
                </if>
                <if test="item.dataOther !=null " >
                    `data_other` = #{item.dataOther}
                </if>
            </set>

            <where>
                `name` = #{item.name}
            </where>

        </foreach>

    </update>

    <!--* 专业就业率-->
    <update id="updateMajorRate" parameterType="java.util.List">

        <foreach collection="majorRate" item="item" index="index" open="" close="" separator=";">
            UPDATE `major_employment_rate`
            <set>

                <if test="item.employmentRate != null " >
                    `employment_rate` = #{item.employmentRate}
                </if>

            </set>

            <where>
                `major_name` = #{item.majorName}
            </where>

        </foreach>

    </update>

    <!--* 工程师行业背景人数，-->
    <update id="updateBackgroundNum" parameterType="java.util.List">

        <foreach collection="backgroundNum" item="item" index="index" open="" close="" separator=";">
            UPDATE `projector_background`
            <set>

                <if test="item.peopleNum != null " >
                    `people_num` = #{item.peopleNum}
                </if>

            </set>

            <where>
                `major_name` = #{item.majorName}
            </where>

        </foreach>

    </update>

</mapper>