<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huatec.datahome.dao.SmartLearningStuDao">

    <select id="getBaseInfo" resultType="com.huatec.datahome.domain.HuatecStudent">

            select
            `name`,`value`
            FROM huatec_student

    </select>

    <select id="getLoginNum" resultType="com.huatec.datahome.domain.LoginRecord">

            select tb.login_type  as loginType ,
                tb.login_num  as loginNum
            FROM login_record tb

    </select>

    <!--* 智慧学习基础-->
    <update id="updateBaseInfo" parameterType="java.util.List">

        <foreach collection="baseInfo" item="item" index="index" open="" close="" separator=";">
            UPDATE `huatec_student`
            <set>

                <if test="item.value != null " >
                    `value` = #{item.value}
                </if>

            </set>

            <where>
                `name` = #{item.name}
            </where>

        </foreach>
    </update>

    <!--* 接入方式占比-->
    <update id="updateLoginNum" parameterType="java.util.List">

        <foreach collection="loginNum" item="item" index="index" open="" close="" separator=";">
            UPDATE `login_record`
            <set>

                <if test="item.loginNum != null " >
                    `login_num` = #{item.loginNum}
                </if>

            </set>

            <where>
                `login_type` = #{item.loginType}
            </where>

        </foreach>

    </update>

</mapper>