<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huatec.datahome.dao.SmartLearningTeaDao">

    <!--* 智慧学习基础-->
    <select id="getBaseInfo" resultType="com.huatec.datahome.domain.HuatecTeacher">

     select
     `name`,`value`
     FROM huatec_teacher

    </select>

    <!--* 精品必修-->
    <select id="getJpbxNum" resultType="com.huatec.datahome.domain.RequiredBoutiqueCourse">

        select
        tb.course_category as courseCategory,
        tb.course_num as courseNum
        FROM required_boutique_course tb

    </select>
    <!--* 课程信息-->
    <select id="getCourseNum" resultType="com.huatec.datahome.domain.MajorBasic">

        select
        tb.major_name as `majorName`,
        tb.major_course as `majorCourse`
        FROM major_basic tb

    </select>
    <!--* 数字化资源占比-->
    <select id="getSzhzyNum" resultType="com.huatec.datahome.domain.CourseResources">

        select tb.name as `name`,
        tb.value as `value`
        FROM course_resources tb

    </select>

    <!--* 智慧学习基础-->
    <update id="updateBaseInfo" parameterType="java.util.List">

        <foreach collection="baseInfo" item="item" index="index" open="" close="" separator=";">
            UPDATE `huatec_teacher`
            <set>

                <if test="item.value != null " >
                    `value` = #{item.value}
                </if>

            </set>

            <where>
                `name` = #{item.name}
            </where>

        </foreach>

    </update>

    <!--* 精品必修-->
    <update id="updateJpbxNum" parameterType="java.util.List">

        <foreach collection="jpbxNum" item="item" index="index" open="" close="" separator=";">
            UPDATE `required_boutique_course`
            <set>

                <if test="item.courseNum != null " >
                    `course_num` = #{item.courseNum}
                </if>

            </set>

            <where>
                `course_category` = #{item.courseCategory}
            </where>

        </foreach>
    </update>

    <!--* 课程信息-->
    <update id="updateCourseNum" parameterType="java.util.List">

        <foreach collection="courseNum" item="item" index="index" open="" close="" separator=";">
            UPDATE `major_basic`
            <set>

                <if test="item.majorCourse != null " >
                    `major_course` = #{item.majorCourse}
                </if>

            </set>

            <where>
                `major_name` = #{item.majorName}
            </where>

        </foreach>
    </update>
    <!--* 数字化资源占比-->
    <update id="UpdateSzhzyNum" parameterType="java.util.List">

        <foreach collection="szhzyNum" item="item" index="index" open="" close="" separator=";">
            UPDATE `course_resources`
            <set>

                <if test="item.value != null " >
                    `value` = #{item.value}
                </if>

            </set>

            <where>
                `name` = #{item.name}
            </where>

        </foreach>

    </update>

</mapper>