<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>登陆</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/dashuju-denglu.css" />
        <script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script>
        <script type="text/javascript" src="js/login.js"></script>

</head>
<body>
<div class="section_big bg">
    <div class="section bg1">
        <div class="logo">
            <img src="image/logo.png" />
        </div>
        <div class="tu">
            <img src="image/tupian.png" />
        </div>
        <div class="denglu">
            <p class="title">
                用户登录
            </p>
            <div class="zhanghao clearfix">
                <img src="image/zhanghao.png" />
                <input type="text" id="username" class="yonghuming" placeholder="请输入您的账号" />
            </div>
            <div class="zhanghao clearfix">
                <img src="image/mima.png" />
                <input type="password" id="password" class="yonghuming" placeholder="请输入您的密码" />
            </div>
            <div class="zhaohui clearfix">
                <div class="check fl">
                    <input id="checkbox1" class="checkbox" type="checkbox"/><label>下次自动登录</label>
                </div>

            </div>
            <div id="commit" class="denglu_zi">
                登录
            </div>

        </div>
        <p class="banquan">
            Copyright ©2014-2019 huatecsmart. All Right Reserved
        </p>
    </div>
</div>
</body>
</html>