<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教育大数据后台管理平台</title>
    <link rel="stylesheet" href="css/plugIn/bootstrap.min.css" />
    <link rel="stylesheet" href="css/plugIn/bootstrap-table.min.css">
    <link rel="stylesheet" href="css/plugIn/volidform.css" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/plugIn/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="js/plugIn/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/plugIn/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="js/plugIn/bootstrap-table.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/myplan.js"></script>
</head>
<body>
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand">
                    <img src="image/logo.png" alt="logo">
                </a>
                <ul class="nav pull-right top-l">
                    <li class="user user_t" style="padding-right: 30px;">
                        <span class="public_number">
                        </span>
                    </li>
                    <li class="user user_t admin_login_f_title">
                        <span class="username">
                            <div class="admin_login admin_login_f_title">
                                <span class="login_user">项目经理</span>
                                <a data-href="/login/loginout"><input id="return1Button" type="button" value="退出"
                                        class="back_index "></a>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navList noneSelect">
        <ul class="nav-item-menu">
            <li class="nav-item">
                <a href="javascript:;"><i class="glyphicon glyphicon-user"></i><span>专业运营</span><i class="glyphicon glyphicon-menu"></i></a>
                <ul>
                    <li><a onclick="zhuanyeyunying()"><span>专业运营</span></a></li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="javascript:;"><i class="glyphicon glyphicon-question-sign"></i><span>专业分析</span><i class="glyphicon glyphicon-menu"></i></a>
                <ul>
                    <li><a href="QAinquire.html"><span>通信方向</span></a></li>
                </ul>
                <ul>
                    <li><a href="QAinquire.html"><span>物联网方向</span></a></li>
                </ul>
                <ul>
                    <li><a href="QAinquire.html"><span>云计算方向</span></a></li>
                </ul>
            </li>
            <li class="nav-item nav-show">
                <a href="javascript:;"><i class="glyphicon glyphicon-knight"></i><span>智慧学习</span><i class="glyphicon glyphicon-menu"></i></a>
                <ul>
                    <li class="teacher-box"><a href="CreateTeam.html"><span>智慧学习【老师】</span></a></li>
                    <li class="teacher-box active"><a href="myPlan.html"><span>智慧学习【学生】</span></a></li>
                </ul>
            </li>
            <li class="nav-item teacher-box ">
                <a href="javascript:;"><i class="glyphicon glyphicon-hourglass"></i><span>就业分析</span><i class="glyphicon glyphicon-menu"></i></a>
                <ul>
                    <li><a href="InquireActiveness.html"><span>全部专业方向</span></a></li>
                    <li><a href="CompareActiveness.html"><span>通信</span></a></li>
                    <li><a href="CompareActiveness.html"><span>物联网</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="admin-con">
            <h5 class="main-h5">专业运营</h5>
            <form class="form-horizontal form-admin" id="edit">

                <h6 class="main-h6">基本信息</h6>
                <div class="form-group">
                    <label class="col-sm-1 control-label">合作院校</label>
                    <label class="col-sm-1 control-label">本科：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[0].dataUndergraduate}
                               id="hbk" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">高职：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[0].dataVocational}
                               id="hgz" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">运营团队</label>
                    <label class="col-sm-1 control-label">本科：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[1].dataUndergraduate}
                               id="ybk" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">高职：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[1].dataVocational}
                               id="ygz" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">支撑人员</label>
                    <label class="col-sm-1 control-label">研发：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[2].dataUndergraduate}
                               id="zyf" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">设计：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[2].dataVocational}
                               id="zsj" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">实施：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[2].dataOther}
                               id="zss" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">在校学生</label>
                    <label class="col-sm-1 control-label">本科：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[3].dataUndergraduate}
                               id="zbk" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">高职：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[3].dataVocational}
                               id="zgz" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">就业总人数</label>
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${baseInfo[4].dataOther}
                               id="jyzrs" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>


                <h6 class="main-h6">专业就业率</h6>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <label class="col-sm-1 control-label">通信：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${majorRate[0].employmentRate}
                               id="ztx" onkeyup="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')"
                               onafterpaste="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">物联网：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${majorRate[1].employmentRate}
                               id="zwlw" onkeyup="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')"
                               onafterpaste="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">移动互联：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${majorRate[2].employmentRate}
                               id="zydhl" onkeyup="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')"
                               onafterpaste="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <label class="col-sm-1 control-label">云计算：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${majorRate[3].employmentRate}
                               id="zyjs" onkeyup="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')"
                               onafterpaste="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">智能制造：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${majorRate[4].employmentRate}
                               id="zznzz" onkeyup="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')"
                               onafterpaste="this.value=this.value.replace(/^(\d|[0-9]\d+)(\\.(\\d){0,2})/g,'')">
                    </div>
                </div>


                <h6 class="main-h6">工程师行业背景</h6>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <label class="col-sm-1 control-label">通信：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${backgroundNum[0].peopleNum}
                               id="gtx" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">移动互联：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${backgroundNum[1].peopleNum}
                               id="gydhl" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">云计算：</label>
                    <div class="col-sm-2" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                         onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                        <input type="text" class="form-control" th:value=${backgroundNum[2].peopleNum}
                               id="gyjs" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <label class="col-sm-1 control-label">物联网：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${backgroundNum[3].peopleNum}
                               id="gwlw" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                    <label class="col-sm-1 control-label">智能制造：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:value=${backgroundNum[4].peopleNum}
                               id="gznzz" onkeyup="this.value=this.value.replace(/\D|^0/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
                    </div>
                </div>
                <h6 class="main-h6"></h6>
                <div class="form-group">
                    <button id="pwdBtn" onclick="update()" class="btn btn-primary btn-form">确认修改</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <p>版权信息 教育大数据后台管理平台</p>
        </div>
    </div>
</body>


<script type="text/javascript">
    function zhuanyeyunying() {
//        location.href = "/web/weix_product?parent_id=" + id;
        location.href = "/getDetailMajorOpration";
    }

</script>


</html>